

@media screen and (max-width: 760px) {
    
    header {
        text-align: center;
        padding : 50px 0 50px 0;
    }

    header h1 {
        font-size: 24px;
    }
    
    header h2 {
        font-size: 16px;
    }

    .cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    
    .cards img {
        width: 100%;
        max-width: 300px;
        margin-left: 0px;
    }
    
    .card { 
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 350px;
        height: 130px;
        margin-bottom: 20px;
        padding: 0 30px 0 15px;
        border-radius: 6px;
        background-image: linear-gradient(to right, #0466C8, #001845);
    
    }
    
    .card p {
        width: 160px;
        font-size: 14px;
    }
    
    .txt-link {
        padding-right: 0px;
    }
    
    button {
        margin-top: 10px;
        padding: 8px 10px;
        width: 150px;
        border: none;
        border-radius: 4px;
        background-image: linear-gradient(to right, #001845, #0466C8);
        font-size: 12px;
    }
    
    button a {
        text-decoration: none;
        color: #fff;
    }
    
    
    
    #card-img-pc {
        margin-left: 10px;
        width: 120px;
    }
    
    #img-behace {
        width: 100%;
        max-width: 85px;
        margin-right: 10px;
        margin-left: 20px;
    }
    
    #img-instagram {
        width: 100%;
        max-width: 85px;
        margin-right: 10px;
        margin-left: 20px;
    }
    
    footer {
        font-size: 12px;
        text-align: center;
        margin: 30px 0 50px 0;
        padding-bottom: 70px;
    }
    
    
    
    
}